<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h2> Contact us </h2>
      <p> We will answer any question about our products and your experiences. Reach us and we will respond as soon as we can</p>
      <%= render 'homes/form', {contact: @contact} %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h4 class="contact-title">
        Email
      </h4>
      <p>
        example@gmail.com
      </p>
      <h4 class="contact-title">
        Telephone
      </h4>
      <p>
        125 456 789
      </p>
      <h4 class="contact-title">
        Skype ID
      </h4>
      <p>
        HelloWorld
      </p>
      <h4 class="contact-title"> Address
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1226516441407!2d106.64610731480107!3d10.801917092304246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529489602c237%3A0xbdaeea067444ae28!2zMjY0IEPhu5luZyBIw7JhLCBQaMaw4budbmcgMTIsIFTDom4gQsOsbmgsIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1sen!2s!4v1538325413048" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </h4>
    </div>
  </div>
</div>