<secion class="product-item">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6">
        <img src="https://via.placeholder.com/480x480" alt="Card image cap">
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <h1 class="product-name"> <%= @product.name %> </h1>
        <p> <%= @product.description %> </p>
        <p> <%= @product.price %> VND </p>
      </div>
    </div>
  </div>
</secion>